$res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
@mixin mobile() {
    @media #{$res_320} {
        @content;
    }
}
.bigFrame{
    position: relative;
    top: 100px;
    right: 20px;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto 0 auto;
    @include mobile{
        right: 0;
    }
}
.pokemonBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-end;
    height: auto;
    margin: 10px;
    .pokeTag{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        width: 19.5%;
        margin: 5px 0 0 5px;
        border-radius: 10px;
        background: lightcyan;
        @include mobile{
            width: 48%;
            height: 100px;
        }
        img{
            width: 60%;  
            height: 60%;
            @include mobile{
                width: 40%;  
                height: 40%;
            }
        }
        .pokeName{
            @include mobile{
                font-size: 10px;
            }
        }
        span{
            color: #4c3c9c;
            cursor: pointer;
        }
    }
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    @include mobile{
        flex-direction: column;
    }
    .search{  
        width: 80%;
        padding: 0 10px;
        font-size: 24px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: #356372;  
        @include mobile{
            width: 100%;
            font-size: 16px;
        }      
    }
    select{
        width: 20%;  
        font-size: 24px;
        border: none;
        margin-right: 10px;
        outline: none;
        border-radius: 10px;
        color: #356372;
        @include mobile{
            width: 100%;
            margin: 0 0 5px 0;
            font-size: 16px;
        }
    }
}

.btnTop{
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;                               
    right: 30px;
    padding: 10px;
    font-size: 16px;
    background: lightpink;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

     