@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{  
  color: #fff;
  /* background: linear-gradient(to bottom right, #356372, #3c4854);  */
  background: #3A525F;
  transition: 0s;
  transition-delay: 0.5s;  
  z-index: -12;
}


/* about */
.partOne{
  position: absolute;  
  height: 100%;
  width: 100%;
  display: none;  
}
.partOne.active{  
  display: flex;
}

/* swipper */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 300px;
}

