$body-bg: #3A525F;
$main-color: #fff;
$txt-color: #fff;
$small-fsize: 16px;
$medium-fsize: 24px;
$big-fsize: 36px;

// Navigation
$txt-hover: #ff0157;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-Poppins: 'Poppins', sans-serif;
